.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-wrapper > div {
  margin: 0 !important;
  padding: 0 !important;
}
.previewImageMainDiv {
  display: contents;
}
.hourly-td {
  width: 140px;
}
.actionButons {
  display: flex;
  justify-content: flex-end;
}
.margin-right-20px {
  margin-right: 20px;
}
.my-custom-dropzone {
  max-width: 110px !important;
  max-height: 110px !important;
  min-width: 110px !important;
  min-height: 110px !important;
}
.img-thumbnail {
  max-width: 110px !important;
  max-height: 110px !important;
  min-width: 110px !important;
  min-height: 110px !important;
  object-fit: cover;
}
.offcanvas-foorter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.slot-canvas {
  margin-bottom: 50px;
}
.ql-container {
  height: 150px !important;
}
.class-for-textarea {
  min-height: 192px !important;
}

.time-slot-list {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time-slot {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 200px; */
}

.time-slot.booked {
  background-color: #f8d7da;
  color: #721c24;
}

.time-slot button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.time-slot button:hover {
  background-color: #0056b3;
}

.onlineDiv {
  margin-left: 10px;
}
